 <div class="menu"> 
        <ul>
          <li class="home">
            <a href="sidemenu.html"> <i class="bx bx-home" id="homebtn"></i> </a>
          </li>
          <li class="booking">
            <a href="check.html">
              <i class="bx bx-book-content" id="bookingbtn"></i
            ></a>
          </li>
          <li class="places">
            <a href="places.html"> <i class="bx bxs-plane-alt" id="placebtn"></i></a>
          </li>
          <li class="contact">
            <a href="contact.html"> <i class="bx bx-phone" id="contactbtn"></i> </a>
          </li>
        </ul>
      </div> 

      